@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-anton: 'Anton', sans-serif;
--font-instrument-serif: 'Instrument Serif', serif;
--font-shadows-into-light: 'Shadows Into Light', serif;
--font-montserrat: 'Montserrat', sans-serif;
--font-dm-serif-text: 'DM Serif Text', serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-anton: var(--font-anton);
  --font-heading: var(--font-instrument-serif);
  --font-handwritten: var(--font-shadows-into-light);
  --font-montserrat: var(--font-montserrat);
  --font-dm-serif: var(--font-dm-serif-text);
  --grid-pattern: url('/images/grid-bg.svg');
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* .perspective {
  perspective: 1000px;
}

@keyframes flipTop {
  0% { transform: rotateX(0); }
  100% { transform: rotateX(-90deg); }
}

@keyframes flipBottom {
  0% { transform: rotateX(90deg); }
  100% { transform: rotateX(0); }
}

.animate-flip-top {
  animation: flipTop 0.3s forwards ease-in;
  transform-origin: bottom;
}

.animate-flip-bottom {
  animation: flipBottom 0.3s forwards ease-out;
  transform-origin: top;
} */
